h1, p {
  font-family: 'Roboto Serif', sans-serif;
}
#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
#container a {
  text-decoration: none;
}
.contact-title {
  font-size: 25px;
  font-family: 'Roboto Serif', sans-serif;
}
.save-contact {
  width: 80vw;
  margin: 15px
}
.delete-contact {
  margin-left: 75%;
}
.no-contactos {
  text-align: center;
  color: #000;

}
ion-input {
  border-bottom: 1px solid #00f;
  margin-top: 5px;
}
ion-toggle {
  --background: rgb(233, 225, 225);
  --background-checked: #00f;
  --handle-background: #00f;
  --handle-background-checked: rgb(233, 225, 225);
}
ion-toggle::before {
  position: absolute;
  top: 16px;
  left: 10px;
  content: "ON";
  color: white;
  font-size: 8px;
  z-index: 1;
}
ion-toggle::after {
  position: absolute;
  top: 16px;
  left: 35px;
  content: "OFF";
  color: #00f;
  font-size: 8px;
  z-index: 1;
}

ion-toggle {
  margin-left: 80%;
  width: 60px;
  height: 40px;
  --handle-border-radius: 14px 4px 4px 14px;
}
ion-toggle.toggle-checked {
  --handle-border-radius: 4px 14px 14px 4px;
}
.notas {
  text-align: right;
}
