<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="contact-title">Contactos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="container-title">Agregar contacto</h1>

    <ion-input placeholder="Nombre" [(ngModel)]="name"></ion-input>
    <ion-input placeholder="Número"[(ngModel)]="telephone"></ion-input>
    <ion-input placeholder="Email"[(ngModel)]="email"></ion-input>
    <ion-input placeholder="Notas"[(ngModel)]="note"></ion-input>

    <ion-button (click)="saveContact()" class="save-contact">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>

    <h1 class="container-title">Mis contactos</h1>
    <p class="no-contactos" *ngIf="contacts.length === 0">No se han añadido contactos</p>
    <div *ngIf="contacts.length > 0">
      <p class="notas">Ver notas</p>
      <ion-toggle></ion-toggle>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Numero</ion-card-subtitle>
          <ion-card-title>Name</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Notas
        </ion-card-content>
        <ion-button (click)="deleteContact()" class="delete-contact">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>
