<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>{{greet}}</h1>
    <ion-button (click)="showAlert()">Sum 11+12</ion-button>
    <br><br>
    <h1>Directivas</h1>
    <ion-item>
      <ion-label>Fruit</ion-label>
      <ion-input [(ngModel)]="fruit">{{fruit}}</ion-input>
    </ion-item>
    <h4>{{fruit}}</h4>
    <ion-button (click)="addFruit()">Add Fruit</ion-button>
    <ion-list *ngFor="let fruitAux of fruitList; let i = index" (click)="deleteFruit(i)">
      <ion-item>
        <ion-label>{{i+1}}° {{fruitAux}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
